
.section-info-user {
    display: grid;
    justify-content: center;
    align-content: center;
}

.unique-user-card{
    border-radius: 15px;
    height: 100%;
    box-shadow: 0.2px 1.5px 3px rgba(0, 0, 0, 0.39);
    padding: 15px;
    background: #fff;
    width: auto;
}

.number-single-card {
    border-radius: 100%;
    box-shadow: 0.2px 1.5px 3px rgba(0, 0, 0, 0.39);
    width: 24px;
    height: 24px;
    padding: 4px;
    font-weight: bold;
    color: #344680;
}

.image-card {
    border-radius: 100%;
    box-shadow: 0.2px 1.5px 3px rgba(0, 0, 0, 0.39);
    width: 100px;
}

.unique-user-content {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-areas: 
       "img-user user-info"
       "buttons-user buttons-user";
}

.image-unique-card-container{
    grid-area: img-user;
}

.unique-user-info {
    grid-area: user-info;
    color: #344680;
}

.unique-user-info hr {
    margin:0 !important;
    width: 80% !important;
    border: 1px solid #344680 !important;
    margin-bottom: 10px !important;
}

.button-card {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 3px;
    box-shadow: 0.2px 1.5px 3px rgba(0, 0, 0, 0.39);
}

.buttons-container-user { 
   grid-area: buttons-user;
   display: grid;
   justify-content: flex-end;
   grid-template-columns: repeat(3,auto);
   column-gap: 8px;
}

.more-button {
    color: #467BD5;
}

.edit-button {
    color: #EF5A0C;
}

.delete-button {
    color: #DB1818;
}